/*Variables*/
@kickdudes: #50AA8D;
@kickdudes-dark: #2F5E4E;
@brand-danger-light: #FFADAB;
@footer: #414141;

/*Mixins*/

/*Links and type*/
@font-face {
    font-family: kick_font;
    src: url('../fonts/kick.eot');
    src: url('../fonts/kick.eot?') format('embedded-opentype'),
         url('../fonts/kick.woff') format('woff'),
         url('../fonts/kick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3{
  font-family: kick_font;
}
a{
  color: #000;
  text-shadow: none !important;
  &:visit{
    color: #000;
  }
  &:hover{ text-decoration: none; }
}
.text-c{ text-align: center; }
.btn{ font-family: kick_font; }
.btn-success{
  background-color: @kickdudes;
  &:hover{
    background-color: @kickdudes-dark;
    border-color: @kickdudes-dark;
  }
}
.btn-blank{
  border: 2px solid #fff;
  background-color: rgba(255,255,255,.2);
  color: #fff;
  a{ color: #fff; }
  &:hover{ color: #fff; }
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
i.mdi{ margin-right: 5px; }

/*Layout*/
.vertical_align_wrap{
  padding: 80px 0;
  h2,h3{ text-align: center; }
  h2{ margin-bottom: 70px; color: #fff; text-transform: uppercase; }
  &:nth-child(2n){
    background-color: @kickdudes-dark;
  }
}
footer,
#keep{
  background-color: @footer;
  color: #fff;
}

/*From element*/
form{
  .form-control{
    &:focus{ border-color: transparent; box-shadow: none; }
  }
  textarea {
    resize: none;
  }
  input.error,
  select.error{
    border-color: transparent;
    background-color: @brand-danger-light !important;
  }
  em.error{
    text-align: left;
    width: 100%;
    display: inline-block;
  }
}

/*Keyframes*/
/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
  0%{
    transform:scale(1)
  }
  50%{
    transform:scale(1.5)
  }
  100%{
    transform:scale(1)
  }
}
/* Standard syntax */
@keyframes zoom {
  0%{
    transform:scale(1)
  }
  50%{
    transform:scale(1.5)
  }
  100%{
    transform:scale(1)
  }
}

/*Miscellaneous*/
body{
  color: @text-color;
  font-size: 16px;
  background-color: @kickdudes;
  position: relative;
  padding-top: 80px;
  &#home{ padding-top: 0; }
}

/*Header*/
#logo{
  display: block;
  float: left;
  width: 191px;
  height: 55px;
  background: transparent url(../images/logo.png) 0 0 no-repeat;
  .transition(transform .3s ease-in-out );
}
.navbar-fixed-top{
  background: transparent url(../images/bg_navbar.png) top left repeat-x;
  .box-shadow(  0 1px 2px rgba(0,0,0,.20) );
  min-height: inherit;
  top: -60px;
  .transition(all .5s);
}
.navbar-nav{
  a{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    &:hover,
    &:focus{
      background-color: transparent !important;
    }
  }
  li{
    &.active{
      a{ color: @gray; }
    }
  }
  li.active a{ color: @kickdudes !important; }
  .dropdown.open,
  .dropdown-menu{
    background-color: #399986 !important;
    a{ color: #fff; }
  }
  .dropdown-menu{ border-top: 0; }
}
.navbar-kick{
  #logo{ .scale(.7); }
  top: 0;
}
#hamburger{
  display: none;
}
#hamburger span, #hamburger span:before, #hamburger span:after {
  cursor: pointer;
  border-radius: 3px;
  height: 5px;
  width: 35px;
  background: @gray-light;
  position: absolute;
  display: block;
  content: '';
}
#hamburger span:before {
  top: -10px;
}
#hamburger span:after {
  bottom: -10px;
}
#hamburger span, #hamburger span:before, #hamburger span:after {
  transition: all 500ms ease-in-out;
}
#hamburger.active span {
  background-color: transparent;
}
#hamburger.active span:before, #hamburger.active span:after {
  top: 0;
}
#hamburger.active span:before {
  transform: rotate(45deg);
}
#hamburger.active span:after {
  transform: rotate(-45deg);
}

//menu sidr
.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:none;overflow-y:auto;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:15px;background:#f8f8f8;color:#333;-webkit-box-shadow:inset 0 0 5px 5px #ebebeb;-moz-box-shadow:inset 0 0 5px 5px #ebebeb;box-shadow:inset 0 0 5px 5px #ebebeb}.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}.sidr.right{left:auto;right:-260px}.sidr.left{left:-260px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#333;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));background-image:-webkit-linear-gradient(#ffffff,#dfdfdf);background-image:-moz-linear-gradient(#ffffff,#dfdfdf);background-image:-o-linear-gradient(#ffffff,#dfdfdf);background-image:linear-gradient(#ffffff,#dfdfdf);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(51,51,51,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #dfdfdf;border-bottom:1px solid #fff}.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #fff;border-bottom:1px solid #dfdfdf}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:49px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#333}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(51,51,51,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(51,51,51,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#f8f8f8;background:#333}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(51,51,51,0.9)}



#about{
  background: transparent url(../images/bg_mainpage.jpg) center center no-repeat;
  .row{ height: 100vh; }
  .intro{
    display: table;
    position: relative;
    .row{
      display: table-cell;
      vertical-align: middle;
    }
  }
  #title_about{
    padding-top: 130px;
  }
  h1{
    color: #fff;
    font-size: 3.125rem;
    text-indent: 60px;
    position: relative;
    margin-bottom: 25px;
    display: none;
    &:before{
      position: absolute;
      display: inline-block;
      background: transparent url(../images/icon-open-message.png) 0 0 no-repeat;
      top: 0;
      left: 0;
      content: " ";
      width: 45px;
      height: 42px;
    }
  }

  #iphone{
    text-align: center;
    padding-top: 20px;
    img{ max-height: 500px; }
  }
}
.app_store{
  margin-top: 30px;
  .clearfix();
  a{
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-right: 10px;
    background-color: rgba(0,0,0,.8);
  }
}
#logo_top{
  position: absolute;
  top: 0;
  left: 15px;
  display: inline-block;
  width: 191px;
  height: 55px;
  background: transparent url(../images/logo.png) 0 0 no-repeat;
}
#magic_arrow{
  color: #fff;
  width: 49px;
  height: 49px;
  display: inline-block;
  font-size: 2.1875rem;
  border: 1px solid #fff;
  border-radius: 50%;
  .mdi{
    -webkit-animation: zoom 3s infinite; /* Chrome, Safari, Opera */
    animation: zoom 3s infinite;
  }
  &:hover{
    background-color: rgba(255,255,255,.3);
  }
}

#feature{
  h2{ padding: 0 200px; }
  img{ width: 150px; }
  .feature_list{
    li{
      text-align: center;
      padding: 0 20px;
      opacity: 0;
      margin-bottom: 25px;
    }
    h3{ color: #fff; text-transform: capitalize; margin: 20px 0; }
    p{
      color: @kickdudes-dark;
      font-weight: lighter;
    }
  }
  #animate_feature{
    background: transparent url(../images/features/bg.png) center center no-repeat;
  }
}

#signup{
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 35px 0;
  font-size: 1.25rem;
  .btn{ margin-left: 20px; }
}

#contact{
  background: transparent url(../images/bg_contact.jpg) center center no-repeat;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 160px;
  h2{ text-transform: uppercase; text-decoration: underline; text-align: left; margin-bottom: 25px; }
  p{ margin-bottom: 30px; }
}
#contact-form{
  opacity: 0;
  .btn{
    width: 100%;
    background-color: @kickdudes;
    border-color: @kickdudes-dark;
    &:hover{
      background-color: @kickdudes-dark;
    }
  }
  .error{ color: @brand-danger; }
}

#keep{
  text-align: center;
  color: @gray-lighter;
  h2{ text-transform: capitalize; margin-bottom: 60px; color: @gray-lighter; }
  padding: 30px 0 60px 0;
  img{ margin-bottom: 20px; }
}

footer{
  border-top: 1px solid #333333;
  position: relative;
  color: #fff;
  font-size: 0.875rem;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #666666;
  }
  h2{ text-align: center; }
  a,
  a:hover{
    color: #fff;
    text-decoration: none;
  }
  .navbar-foot{
    margin: 15px 0;
  }
}

/*Regis page*/
body#register{
  background: transparent url(../images/bg_mainpage.jpg) 0 0 no-repeat;
  .navbar-fixed-top{ top: 0; }
  h1{ color: @gray; }
}
.signupform{
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  padding: 0;
  .nav-tabs{
    border-bottom: none;
    li{
      width: 50%;
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 0;
      a{
        font-family: kick_font;
        font-size: 1.375rem;
        color: @gray-lighter;
        border: 0;
        margin-right: 0;
        border-radius: 0;
        height: 50px;
        background: transparent url(../images/bg_box.png) 0 0 repeat;
        &:hover{
          border-radius: 0;
        }
      }
    }
    li.active{
      a{
        background: transparent url(../images/bg_tab_select.png) 0 0 repeat;
        border-radius: 0;
        border: none;
        color: #fff;
      }
    }
  }
  .tab-content{
    background: transparent url(../images/bg_tab_select.png) 0 0 repeat;
    padding: 40px 50px;
  }
  h2{ margin-top: 0; }
}
.signupform-container{
  margin-top: 25px;
  text-align: center;
  .btn{
    text-transform: capitalize;
  }

  .help-block{ color: #fff; }
  h2 {
    text-align:left;
    font-size: 1.25rem;
    margin: 20px 0;
  }
  label{ text-align: left; width: 100%; }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select{ background-color: @gray-lighter; }
  input[type="submit"]{ margin-top: 20px; }
}
.signup-ordivider{
  background: transparent url(../images/line-or.png) top center no-repeat;
  width: 100%;
  height: 27px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px 0;
}
.signupform-formemail{
  height: 0;
  opacity: 0;
  overflow: hidden;
  .transition(all .5s ease-in-out);
  .btn{ padding-left: 50px; padding-right: 50px; }
}
.signupform-start{
  height: 7em;
  overflow: hidden;
  .transition(all .5s ease-in-out);
}
.signupform-formstate{
  .signup-btn-email,
  .signupform-start{
    height: 0;
    opacity: 0;
  }
  .signupform-formemail{
    height: auto;
    opacity: 1;
  }
}
.finish_submit{
  margin-top: 50px;
  background: transparent url(../images/bg_tab_select.png) 0 0 repeat;
  color: #fff;
  h2{ border-bottom: 1px solid #fff; padding-bottom: 10px; }
  padding: 20px 30px;
  .app_store{
    a{
      margin-right: 0;
    }
  }
}
