<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Kickdudes">
  <meta name="author" content="Twinsynergy.co.th">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fields</title>
  <link rel="stylesheet" href="../css/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="../js/jquery.js" type="text/javascript" ></script>
  <script src="../js/bootstrap/bootstrap.js" type="text/javascript" ></script>

  <!--Addition-->
  <script src="../js/scripts.js" type="text/javascript" ></script>
</head>
<body class="header-fixed">
  <header id="header">
    <div class="headerbar">
      <div class="headerbar-left">
        <div class="brand-holder">
          <img src="../images/logo-green.png" alt="logo">
          <a href="javascript:void(0);" class="btn-icon-toggle menu-toggle ripplelink">
            <i class="mdi mdi-menu"></i>
          </a>
        </div>
      </div>

        <ul class="headerbar-right nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle ripplelink ripplelink-hidden" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="../images/avatar1.jpg" alt="">
              <span class="profile-info">
    						Daniel Johnson
    						<small>สนามพระราม 9</small>
    					</span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-up" role="menu">
              <li><a href="profile.html"><i class="mdi mdi-account"></i>My profile</a></li>
              <li><a href="#"><i class="mdi mdi-close"></i>Log out</a></li>
            </ul>
          </li>
        </ul>
        <div class="header-notification hidden-xs">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="javascript:void(0);" class="btn-icon-toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="mdi mdi-bell"></i><span class="badge">4</span></a>
              <ul class="dropdown-menu dropdown-menu-raduis" role="menu">
                <li class="dropdown-header"><h4>Messages</h4></li>
                <li><a href="javascript:void(0);" class="alert alert-callout alert-waiting">
    							<img class="pull-right img-circle dropdown-avatar" src="../images/avatar1.jpg" alt="">
    							<strong>Alex Anistor</strong><br>
    							<small>จองสนามเข้ามา</small>
                </a></li>
                <li><a href="#" class="alert alert-callout alert-verify">
                  <img class="pull-right img-circle dropdown-avatar" src="../images/avatar1.jpg" alt="">
    							<strong>Alex Anistor</strong><br>
    							<small>รอการตรวจสอบ</small>
                </a></li>
                <li><a href="#" class="alert alert-callout alert-success">
                  <img class="pull-right img-circle dropdown-avatar" src="../images/avatar1.jpg" alt="">
    							<strong>Alex Anistor</strong><br>
    							<small>ชำระเงินแล้ว</small>
                </a></li>
                <li><a href="history.html">View all messages <i class="mdi mdi-arrow-right-bold pull-right"></i></a></li>
                <li><a href="#">Mask as read <i class="mdi mdi-arrow-right-bold pull-right"></i></a></li>
              </ul>
            </li>
          </ul>

        </div>
    </div>
  </header>
  <section id="wraper">
    <div id="content">
      <section id="section-body" class="container-fluid">
        <div class="row">

          <!--1 field-->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card football-card">
              <div class="card-head">
                <div class="tools">
                  <a href="javascript:void(0);" class="btn-icon-toggle btn" data-toggle="modal" data-target=".delete_model" ><i class="mdi mdi-close"></i></a>
                </div>
              </div>
              <div class="card-body">
                <form id="SubFieldForm" action="#">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" id="nameSubField" name="nameSubField" class="form-control inputRequired" />
                          <span class="bar"></span>
                          <label for="">ชื่อสนาม</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select name="sizeSubField" id="sizeSubField" class="form-control inputRequired">
                            <option value="deafult">เลือกขนาดสนาม</option>
                            <option value="5p">5 คน</option>
                            <option value="7p">7 คน</option>
                            <option value="9p">9 คน</option>
                            <option value="11p">11 คน</option>
                          </select>
                          <span class="bar"></span>
                          <label for="">ขนาดสนาม</label>
                        </div>
                      </div>
                    </div>
                  <div class="form-group">
                    <input type="text" id="detailSubField" name="detailSubField" class="form-control inputRequired" />
                    <span class="bar"></span>
                    <label for="">รายละเอียดสนาม</label>
                  </div>
                  <div class="time-wrapper">
                    <h4>ราคาเช่าสนาม :</h4>
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#monday" data-toggle="tab" aria-expanded="true">จันทร์</a></li>
                      <li class=""><a href="#tuesday" data-toggle="tab" aria-expanded="false">อังคาร</a></li>
                      <li class=""><a href="#wednesday" data-toggle="tab" aria-expanded="false">พุธ</a></li>
                      <li class=""><a href="#thursday" data-toggle="tab" aria-expanded="false">พฤหัสบดี</a></li>
                      <li class=""><a href="#friday" data-toggle="tab" aria-expanded="false">ศุกร์</a></li>
                      <li class=""><a href="#saturday" data-toggle="tab" aria-expanded="false">เสาร์</a></li>
                      <li class=""><a href="#sunday" data-toggle="tab" aria-expanded="false">อาทิตย์</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="monday">
                        <div class="row">
                          <div class="col-sm-6">
                            <p class="time-list"><i class="mdi mdi-timer"></i> 00:00-01:00
                            <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span>
                            </p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 01:00-02:00 
                            <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span>
                            </p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 02:00-03:00 
                            <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span>
                            </p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 03:00-04:00 
                            <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span>
                            </p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 04:00-05:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 05:00-06:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 06:00-07:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 07:00-08:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 08:00-09:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 09:00-10:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 10:00-11:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 11:00-12:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                          </div>
                          <div class="col-sm-6">
                            <p class="time-list"><i class="mdi mdi-timer"></i> 12:00-13:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p> 
                            <p class="time-list"><i class="mdi mdi-timer"></i> 13:00-14:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 14:00-15:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 15:00-16:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 16:00-17:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 17:00-18:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 18:00-19:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 19:00-20:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 20:00-21:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 21:00-22:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 22:00-23:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                            <p class="time-list"><i class="mdi mdi-timer"></i> 23:00-00:00 <span class="input-group">
                              <input type="number" class="form-control" />
                              <span class="input-group-addon">บาท</span>
                            </span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.time-wrapper -->
                  <div class="form-group">
                    <h4>สถานะ :</h4>
                    <label class="radio-inline">
                      <input type="radio" name="statusSubField" id="openSubField" value="openSubField" checked> <span class="label label-success">เปิดใช้บริการ</span>
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="statusSubField" id="closeSubField" value="closeSubField"> <span class="label label-danger">ปิดปรับปรุง</span>
                    </label>
                  </div>
                </form>
              
              </div><!--End card-body-->
              <div class="card-actionbar">
                <div class="card-actionbar-row">
                <a href="javascript:void(0);" class="btn btn-flat" data-dismiss="modal">ยกเลิก</a>
                <input type="submit" class="btn btn-default btn-success" value="บันทึก">
                </div>
              </div><!--End card-actionbar-->
            </div>
          </div>
          <!--End 1 field-->

        </div> <!--End row-->
      </section>
    </div>
    <nav id="menubar">
      <ul id="main-menu">
        <li>
          <a href="dashboard.html" class="dashboard">
            <span class="gui-icon">
            </span>
            <span class="title">dashboard</span>
          </a>
        </li>
        <li class="active">
          <a href="fields.html" class="fields">
            <span class="gui-icon">
            </span>
            <span class="title">fields</span>
          </a>
        </li>
        <li>
          <a href="booking.html" class="booking">
            <span class="gui-icon">
            </span>
            <span class="title">booking</span>
          </a>
        </li>
        <li>
          <a href="customer.html" class="customer">
            <span class="gui-icon">
            </span>
            <span class="title">customer</span>
          </a>
        </li>
        <li>
          <a href="history.html" class="history">
            <span class="gui-icon">
            </span>
            <span class="title">history</span>
          </a>
        </li>
        <li>
          <a href="profile.html" class="profile">
            <span class="gui-icon">
            </span>
            <span class="title">profile</span>
          </a>
        </li>
      </ul>
    </nav>
    <a href="javascript:void(0);" class="intercom btn btn-floating-action">
      <i class="mdi mdi-help"></i><span class="badge">2</span>
    </a>
  </section>
<div class="offcanvas">
  <div id="offcanvas-help" class="offcanvas-pane">
    <div class="offcanvas-head">
      <header>Kickdudes Team</header>
      <div class="offcanvas-tools">
        <a href="javascript:void(0);" class="close-intercom btn btn-icon-toggle pull-right">
          <i class="mdi mdi-close"></i>
        </a>
      </div>
    </div><!--/.offcanvas-head-->
    <div class="offcanvas-body no-padding">
      <p>วันนี้ให้เราช่วยอะไรได้บ้างค่ะ หากคุณมีปัญหาหรือข้อแนะนำในการใช้งาน ส่งข้อความมาหาเราได้ที่นี่</p>
      <h3 class="offcanvas-title">ข้อความ</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="messagesRead.html"><i class="mdi mdi-comment-alert text-danger"></i> Cras justo odio <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html">Dapibus ac facilisis in <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html">Morbi leo risus <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html">Porta ac consectetur ac <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html"><i class="mdi mdi-message-alert text-danger"></i>Vestibulum at eros <small class="pull-right">12 weeks ago</small></a></li>
      </ul>
    </div>
    <div class="offcanvas-footer">
      <a id="send_messages" href="javascript:void(0);" data-toggle="modal" data-target=".messages_model" class="btn btn-default btn-success"><i class="mdi mdi-pencil"></i>เขียนข้อความ</a>
    </div>
  </div>
</div>
<div class="modal fade messages_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">เขียนข้อความ</h4>
      </div>
      <form action="#">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control inputRequired">
            <span class="bar"></span>
            <label for="">หัวข้อ</label>
          </div>
          <div class="form-group">
            <textarea name="#" id="" cols="30" rows="10" class="form-control inputRequired"></textarea>
            <span class="bar"></span>
            <label for="">ข้อความ</label>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-flat" data-dismiss="modal">ยกเลิก</a>
          <input type="submit" class="btn btn-default btn-success" value="ส่งข้อความ" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade delete_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>ต้องการลบสนามใช่หรือไม่?</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-flat" data-dismiss="modal">ยกเลิก</a>
        <a href="#" class="btn btn-default btn-delete">ลบทิ้ง</a>
      </div>
    </div>
  </div>
</div>


</body>
</html>
