<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Kickdudes">
  <meta name="author" content="Twinsynergy.co.th">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fields</title>
  <link rel="stylesheet" href="../css/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="../js/jquery.js" type="text/javascript" ></script>
  <script src="../js/bootstrap/bootstrap.js" type="text/javascript" ></script>

  <!--Addition-->
  <script src="../js/inputmask/inputmask.js" type="text/javascript"></script>
  <script src="../js/inputmask/jquery.inputmask.js" type="text/javascript"></script>
  <script src="../js/validate.js" type="text/javascript" ></script>
  <script src="../js/include/form-validate.js" type="text/javascript" ></script>
  <script src="../js/fullcalendar/moment.js" type="text/javascript"></script>
  <script src="../js/bootstrap/bootstrap-datetimepicker.js" type="text/javascript" ></script>
  <script src="../js/scripts.js" type="text/javascript" ></script>
</head>
<body class="header-fixed">
  <header id="header">
    <div class="headerbar">
      <div class="headerbar-left">
        <div class="brand-holder">
          <img src="../images/logo-green.png" alt="logo">
          <a href="javascript:void(0);" class="btn-icon-toggle menu-toggle ripplelink">
            <i class="mdi mdi-menu"></i>
          </a>
        </div>
      </div>

        <ul class="headerbar-right nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle ripplelink ripplelink-hidden" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="../images/avatar1.jpg" alt="">
              <span class="profile-info">
    						Daniel Johnson
    						<small>สนามพระราม 9</small>
    					</span>
              <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-up" role="menu">
              <li><a href="profile.html"><i class="mdi mdi-account"></i>My profile</a></li>
              <li><a href="#"><i class="mdi mdi-close"></i>Log out</a></li>
            </ul>
          </li>
        </ul>
        <div class="header-notification hidden-xs">
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="javascript:void(0);" class="btn-icon-toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="mdi mdi-bell"></i><span class="badge">4</span></a>
              <ul class="dropdown-menu dropdown-menu-raduis" role="menu">
                <li class="dropdown-header"><h4>Messages</h4></li>
                <li><a href="javascript:void(0);" class="alert alert-callout alert-waiting">
    							<img class="pull-right img-circle dropdown-avatar" src="../images/avatar1.jpg" alt="">
    							<strong>Alex Anistor</strong><br>
    							<small>จองสนามเข้ามา</small>
                </a></li>
                <li><a href="#" class="alert alert-callout alert-verify">
                  <img class="pull-right img-circle dropdown-avatar" src="../images/avatar1.jpg" alt="">
    							<strong>Alex Anistor</strong><br>
    							<small>รอการตรวจสอบ</small>
                </a></li>
                <li><a href="#" class="alert alert-callout alert-success">
                  <img class="pull-right img-circle dropdown-avatar" src="../images/avatar1.jpg" alt="">
    							<strong>Alex Anistor</strong><br>
    							<small>ชำระเงินแล้ว</small>
                </a></li>
                <li><a href="history.html">View all messages <i class="mdi mdi-arrow-right-bold pull-right"></i></a></li>
                <li><a href="#">Mask as read <i class="mdi mdi-arrow-right-bold pull-right"></i></a></li>
              </ul>
            </li>
          </ul>

        </div>
    </div>
  </header>
  <section id="wraper">
    <div id="content">
      <section id="section-body" class="container-fluid">
        <div class="row">

          <!--1 field-->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card football-card">
              <div class="card-head">
                <div class="tools">
                  <a href="#" class="btn-icon-toggle btn"><i class="mdi mdi-pencil"></i></a>
                  <a href="javascript:void(0);" class="btn-icon-toggle btn" data-toggle="modal" data-target=".delete_model" ><i class="mdi mdi-close"></i></a>
                </div>
              </div>
              <div class="card-body">
                
                <div class="football-group">
                  <strong>ชื่อสนาม :</strong>
                  <span>สนามหญ้าเทียม 7 คน</span>
                </div>

                <div class="football-group">
                  <strong>รายละเอียด :</strong>
                  <span>สนามหญ้าเทียมอยู่ในร่ม</span>
                </div>

                <div class="football-group divide-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <span><strong>ขนาดสนาม : </strong>7 คน</span>
                    </div>
                    <div class="col-sm-6">
                      <span><strong>ไอดีสนาม : </strong>1</span>
                    </div>
                  </div>
                </div>

                <div class="football-group divide-group time-wrapper">
                  <h4>ราคาเช่าสนาม :</h4>
                  <div class="row del-price">
                    <div class="col-xs-3 col-sm-3 col-md-3 period-time">
                      <span>จันทร์ - ศุกร์</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 start-time">
                      <span>06:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 end-time">
                      <span>17:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 price">
                      <span><del>800 บาท</del></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 period-time">
                      <span>จันทร์ - ศุกร์</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 start-time">
                      <span>17:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 end-time">
                      <span>05:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 price">
                      <span>1300 บาท</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 period-time">
                      <span>เสาร์ - อาทิตย์</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 start-time">
                      <span>6:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 end-time">
                      <span>17:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 price">
                      <span><del>800 บาท</del></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 period-time">
                      <span>เสาร์ - อาทิตย์</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 start-time">
                      <span>17:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 end-time">
                      <span>05:00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 price">
                      <span>1600 บาท</span>
                    </div>
                  </div>
                </div>

                <div class="football-group divide-group promotion-wrapper">
                  <h4>โปรโมชั่น : <a href="javascript:void(0)" data-toggle="modal" data-target=".promotionAdd" class="add-promotion"><i class="mdi mdi-plus-circle ripplelink"></i></a></h4>
                  <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <span>1 ส.ค.-30 ก.ย. 2558</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                      <span>จ.-ศ. 06.00-17.00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 price">
                      <span class="col-time ">500 บาท</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5">
                      <span>1 ส.ค.-30 ก.ย. 2558</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                      <span>ส.-อา. 06.00-17.00</span>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 price">
                      <span>500 บาท</span>
                    </div>
                  </div>
                </div>
                
                <div class="football-group">
                  <strong>สถนานะ :</strong>
                  <a href="#"><span class="label label-success">เปิดใช้งาน</span></a>
                  <a href="#"><span class="label label-danger">ปิดปรับปรุง</span></a>
                </div>
              </div><!--End card-body-->

            </div>
          </div>
          <!--End 1 field-->

          <!--1 field-->
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="card add-field">
              <div class="card-body">
                <form id="football-form" action="#">

                  <div class="form-group">
                    <input type="text" id="name_ff" name="name_ff" placeholder="ชื่อสนาม" class="form-control inputRequired">
                    <span class="bar"></span>
                  </div>

                  <div class="form-group">
                    <input type="text" id="detail_ff" name="detail_ff" placeholder="รายละเอียดสนามสั้นๆ" class="form-control inputRequired">
                    <span class="bar"></span>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <h4>ขนาดสนาม :</h4>
                        <div class="input-group">
                          <select class="form-control" name="size_ff" id="size_ff">
                            <option value="defalut" selected>เลือก</option>
                            <option value="size5">5</option>
                            <option value="size7">7</option>
                            <option value="size9">9</option>
                            <option value="size11">11</option>
                          </select>
                          <div class="input-group-addon">คน</div>
                          <span class="bar"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <h4>ไอดีสนาม :</h4>
                        <select class="form-control"  name="id_ff" id="id_ff">
                            <option value="defalut" selected>เลือก</option>
                            <option value="id1">1</option>
                            <option value="id2">2</option>
                            <option value="id3">3</option>
                            <option value="id4">4</option>
                            <option value="id5">5</option>
                            <option value="id6">6</option>
                            <option value="id7">7</option>
                            <option value="id8">8</option>
                            <option value="id9">9</option>
                          </select>
                        <span class="bar"></span>
                      </div>
                    </div>
                  </div> <!-- /.row -->

                  <div class="form-group time-wrapper">
                    <h4>ราคาเช่าสนาม : <a href="javascript:void(0)" class="insert-time"><i class="mdi mdi-plus-circle ripplelink"></i></a></h4>

                    <div class="row time-row">
                      <div class="time-group col-sm-6">
                        <select class="form-control"  name="dateStart_ff" id="dateStart_ff">
                            <option value="defalut" selected>วันเริ่ม</option>
                            <option value="monday">วันจันทร์</option>
                            <option value="tuesday">วันอังคาร</option>
                            <option value="wednesday">วันพุธ</option>
                            <option value="thursday">วันพฤหัสบดี</option>
                            <option value="friday">วันศุกร์</option>
                            <option value="saturday">วันเสาร์</option>
                            <option value="sunday">วันอาทิตย์</option>
                          </select>
                        <span class="bar"></span>
                      </div>
                      <div class="time-group col-sm-6">
                        <select class="form-control"  name="dateEnd_ff" id="dateEnd_ff">
                            <option value="defalut" selected>วันสิ้นสุด</option>
                            <option value="monday">วันจันทร์</option>
                            <option value="tuesday">วันอังคาร</option>
                            <option value="wednesday">วันพุธ</option>
                            <option value="thursday">วันพฤหัสบดี</option>
                            <option value="friday">วันศุกร์</option>
                            <option value="saturday">วันเสาร์</option>
                            <option value="sunday">วันอาทิตย์</option>
                          </select>
                        <span class="bar"></span>
                      </div>
                      <div class="time-group col-xs-4 col-sm-4 col-md-4">
                        <input type="text" id="timestart_ff" name="timestart_ff" placeholder="เวลาเริ่ม" class="form-control inputmaskTime inputRequired">
                        <span class="bar"></span>
                      </div>

                      <div class="time-group col-xs-4 col-sm-4 col-md-4">
                        <input type="text" id="timeend_ff" name="timeend_ff" placeholder="เวลาสิ้นสุด" class="form-control inputmaskTime inputRequired">
                        <span class="bar"></span>
                      </div>

                      <div class="time-group col-xs-4 col-sm-4 col-md-4">
                        <input type="number" id="price_ff" name="price_ff" placeholder="ราคา" class="form-control inputRequired inputNum">
                        <span class="bar"></span>
                      </div>
                      
                    </div><!--End time-row-->

                  </div><!--End time-wraper-->
                  
                  <div class="form-group">
                    <h4>สถานะ :</h4>
                    <label class="radio-inline">
                      <input type="radio" name="status_ff" id="status_open_ff" value="open_ff" checked> เปิดใช้งาน
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="status_ff" id="status_close_ff" value="close_ff"> ปิดปรับปรุง
                    </label>
                  </div>

                  <input type="submit" class="btn btn-submit" value="สร้างสนาม" />
                </form>
              </div><!--End card-body-->
              <div class="add-cover">
                <a href="javascript:void(0)" class="btn ripplelink">
                  <i class="mdi mdi-plus"></i>
                  <span><br />เพิ่มสนาม</span>
                </a>
              </div>
            </div>
          </div>
          <!--End 1 field-->

        </div> <!--End row-->
      </section>
    </div>
    <nav id="menubar">
      <ul id="main-menu">
        <li>
          <a href="dashboard.html" class="dashboard">
            <span class="gui-icon">
            </span>
            <span class="title">dashboard</span>
          </a>
        </li>
        <li class="active">
          <a href="fields.html" class="fields">
            <span class="gui-icon">
            </span>
            <span class="title">fields</span>
          </a>
        </li>
        <li>
          <a href="booking.html" class="booking">
            <span class="gui-icon">
            </span>
            <span class="title">booking</span>
          </a>
        </li>
        <li>
          <a href="customer.html" class="customer">
            <span class="gui-icon">
            </span>
            <span class="title">customer</span>
          </a>
        </li>
        <li>
          <a href="history.html" class="history">
            <span class="gui-icon">
            </span>
            <span class="title">history</span>
          </a>
        </li>
        <li>
          <a href="profile.html" class="profile">
            <span class="gui-icon">
            </span>
            <span class="title">profile</span>
          </a>
        </li>
      </ul>
    </nav>
    <a href="javascript:void(0);" class="intercom btn btn-floating-action">
      <i class="mdi mdi-help"></i><span class="badge">2</span>
    </a>
  </section>
<div class="offcanvas">
  <div id="offcanvas-help" class="offcanvas-pane">
    <div class="offcanvas-head">
      <header>Kickdudes Team</header>
      <div class="offcanvas-tools">
        <a href="javascript:void(0);" class="close-intercom btn btn-icon-toggle pull-right">
          <i class="mdi mdi-close"></i>
        </a>
      </div>
    </div><!--/.offcanvas-head-->
    <div class="offcanvas-body no-padding">
      <p>วันนี้ให้เราช่วยอะไรได้บ้างค่ะ หากคุณมีปัญหาหรือข้อแนะนำในการใช้งาน ส่งข้อความมาหาเราได้ที่นี่</p>
      <h3 class="offcanvas-title">ข้อความ</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="messagesRead.html"><i class="mdi mdi-comment-alert text-danger"></i> Cras justo odio <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html">Dapibus ac facilisis in <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html">Morbi leo risus <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html">Porta ac consectetur ac <small class="pull-right">12 weeks ago</small></a></li>
        <li class="list-group-item"><a href="messagesRead.html"><i class="mdi mdi-message-alert text-danger"></i>Vestibulum at eros <small class="pull-right">12 weeks ago</small></a></li>
      </ul>
    </div>
    <div class="offcanvas-footer">
      <a id="send_messages" href="javascript:void(0);" data-toggle="modal" data-target=".messages_model" class="btn btn-default btn-success"><i class="mdi mdi-pencil"></i>เขียนข้อความ</a>
    </div>
  </div>
</div>
<div class="modal fade messages_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">เขียนข้อความ</h4>
      </div>
      <form action="#">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control inputRequired">
            <span class="bar"></span>
            <label for="">หัวข้อ</label>
          </div>
          <div class="form-group">
            <textarea name="#" id="" cols="30" rows="10" class="form-control inputRequired"></textarea>
            <span class="bar"></span>
            <label for="">ข้อความ</label>
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0);" class="btn btn-flat" data-dismiss="modal">ยกเลิก</a>
          <input type="submit" class="btn btn-default btn-success" value="ส่งข้อความ" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade delete_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <p>ต้องการลบสนามใช่หรือไม่?</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-flat" data-dismiss="modal">ยกเลิก</a>
        <a href="#" class="btn btn-default btn-delete">ลบทิ้ง</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade promotionAdd" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form id="booking-form"  action="javascript:void(0)">
      <div class="modal-body">
        <div class="form-group">
          <select class="form-control"  name="id_ff" id="id_ff">
             <option value="defalut" selected>เลือก</option>
             <option value="id1">จันทร์-ศุกร์ 06:00-17:00</option>
             <option value="id2">จันทร์-ศุกร์ 17:00-05:00</option>
             <option value="id3">เสาร์-อาทิตย์ 06:00-17:00</option>
             <option value="id4">เสาร์-อาทิตย์ 17:00-05:00</option>
           </select>
          <span class="bar"></span>
          <label for="">ราคาสนามที่ให้เช่า</label>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" id="promotionDate" name="promotionDate" class="form-control inputRequired">
            <div class="input-group-addon"><i class="mdi mdi-calendar"></i></div>
            <span class="bar"></span>
          </div>
            <label for="">วันที่ทำโปรโมชั่น</label>
            <script type="text/javascript">
                $(function () {
                    $('#promotionDate').datetimepicker({
                      format: 'DD-MM-YYYY'
                    });
                });
            </script>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" value="2000" readonly>
                <div class="input-group-addon">บาท</div>
              </div>
              <label for="">ราคาเดิม</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input type="numer" class="form-control" />
                <div class="input-group-addon">บาท</div>
              </div>
              <span class="bar"></span>
              <label for="">ราคาใหม่</label>
            </div>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-flat" data-dismiss="modal">ยกเลิก</a>
        <input type="submit" class="btn btn-default btn-success" value="ตกลง" />
      </div>
      </form>
    </div>
  </div>
</div>

<!--Alert-->
<div id="toast-container" role="alert">
  <div class="toast-info alert alert-danger animated fadeInDown">
     ลบเรียบร้อยแล้ว      
  </div>
  <div class="toast-info alert alert-success animated fadeInDown">
     บันทึกเรียบร้อยแล้ว      
  </div>
</div>
<!--End Alert-->

<script>
  /*Field*/
  $('.add-cover a').bind('click', function() {
    fadeOut();
  });
  function fadeOut(){
    setTimeout(function(){
      $('.add-cover').fadeOut();
    }, 1000);
  }
</script>
</body>
</html>
